.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  max-width: 1550px;
}

header .banner-bg #banner-img {
  z-index: -1;
}

header .banner-bg .logo {
  top: 2vw;
  left: 4vw;
}

header .banner-bg .utilities {
  top: 2vw;
  right: 3.9vw;
}

header .banner-bg .utilities > * {
  margin: 0.5em;
}

header .banner-bg .utilities .search-container input {
  width: 100%;
  height: 300%;
  padding: 0.6em 1.4em;
  background: #343c48;
  border-radius: 1em;
}

header .banner-bg .utilities .search-container button {
  position: absolute;
  right: 0;
  font-size: 1.2em;
  height: 100%;
  margin-right: 7px;
  color: white;
}

header .banner-bg .utilities .button {
  background: #835fa8;
  padding: 0.5em 1.3em;
  border-radius: 1em;
  display: inline-block;
  color: white;
}

header .banner-bg .utilities .hamburger-icon {
  color: white;
  font-size: 1.1em;
}

header .banner-bg .tagline-container {
  right: 15vw;
  bottom: 12vw;
  max-width: 650px;
}

header .banner-bg .tagline-container .heading {
  font-size: 2.7rem;
}

header .banner-bg .tagline-container .description {
  margin-top: 1em;
  max-width: 550px;
  font-size: 1.1em;
}

header .solid-bg {
  background: #835fa8;
}

header .solid-bg .solid-bg-container {
  height: 30vw;
}

header .solid-bg .tagline-2-container {
  z-index: 1;
  top: 5vw;
}

header .solid-bg .tagline-2-container .heading-text {
  max-width: 500px;
}

header .solid-bg .tagline-2-container .heading {
  font-size: 2rem;
}

header .solid-bg .tagline-2-container .description {
  margin-top: 1em;
  max-width: 550px;
  font-size: 1em;
}

header .solid-bg .tagline-2-container .button {
  background: #3dd2ae;
  padding: 0.5em 1.3em;
  display: inline-block;
  margin-top: 1em;
}

header .solid-bg .phone-bg {
  position: absolute;
  right: 0;
  bottom: 0;
}

header .solid-bg .messages-bg {
  position: absolute;
  right: 380px;
  bottom: 0;
}

header .solid-bg-white {
  background: #f4f8fb;
}

header .solid-bg-white .card {
  padding-bottom: 3.5em;
}

header .solid-bg-white .card .heading {
  font-size: 1.5rem;
}

header .solid-bg-white .card .subheading {
  color: #9398a1;
}

header .solid-bg-white .card .description {
  margin-top: 1em;
  max-width: 550px;
  font-size: 1em;
}

header .solid-bg-white .card .button {
  background: #3dd2ae;
  padding: 0.5em 1.3em;
  border-radius: 1em;
  display: inline-block;
  margin-top: 1em;
  color: white;
  left: 0;
  bottom: 0;
}

main {
  max-width: 1550px;
}

main .main-dark .featured-container {
  background: #232831;
}

main .main-dark .featured-container .heading {
  font-size: 2rem;
}

main .main-dark .featured-container .description {
  margin-top: 1em;
  font-size: 1em;
}

main .main-dark .featured-container .webpage .webpage-link {
  display: inline-block;
}

main .main-dark .featured-container .webpage .button {
  border: 1px solid white;
}

main .main-dark .featured-container .webpage .translate-xy-50 {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .main-dark .featured-container .webpage .ty-50 {
  top: 50%;
  left: 50%;
}

main .main-dark .cards-container {
  background: #2b303b;
}

main .main-dark .cards-container .card {
  margin: 0.5em;
  padding: 0.5em;
}

main .main-dark .cards-container .card i {
  color: #3dd2ae;
  font-size: 2.5em;
}

main .main-dark .cards-container .card .heading {
  font-size: 1.5rem;
  margin-top: 1em;
}

main .main-dark .cards-container .card .heading .counting {
  color: #4a5e75;
  margin-right: 4px;
}

main .main-dark .cards-container .card .description {
  margin-top: 1em;
  font-size: 1em;
  color: #989faa;
}

main .main-grid {
  -ms-grid-columns: 12fr 38fr 50fr;
      grid-template-columns: 12fr 38fr 50fr;
  -ms-grid-rows: 35fr 29fr 19fr 29fr 18fr;
      grid-template-rows: 35fr 29fr 19fr 29fr 18fr;
  min-height: 500px;
  border: 1px solid red;
}

main .main-grid > * {
  border: 1px dashed red;
}

main .main-grid .connectivity {
  border: 1px solid blue;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  background: #e9eef1;
}

main .main-grid .img1 {
  border: 1px solid blue;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  background: url("img/grid1.png");
}

main .main-grid .vid {
  border: 1px solid blue;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  background: url("img/video.png");
  background-size: cover;
  background-position: center;
}

main .main-grid .latest-news {
  border: 1px solid blue;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  background: #835fa8;
}

main .main-grid .bg1 {
  border: 1px solid blue;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
  background: #f4f8fb;
}

main .main-grid .bg2 {
  border: 1px solid blue;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

main .main-grid .img2 {
  border: 2px solid orange;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
}

main .main-grid .info {
  border: 1px solid blue;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 5 / 3;
  z-index: 1;
  background: #835fa8;
}

main .main-grid .img3 {
  border: 1px solid blue;
  grid-area: 4 / 1 / -1 / -1;
}
/*# sourceMappingURL=style.css.map */