$maxW: 1400px;



header {
    max-width: $maxW;
    min-height: 100px;
    .background {
        img {
            max-height: 650px;
        }
    }
    .tagline {
        max-width: 450px;
        max-height: 250px;
    }
}


main {
    max-width: $maxW;
    .featured-item {
        .item  {
            .number {
                flex-basis: 100px;
            }
            .picture {
                flex-grow: 5;
                img {
                    width: 800px;
                }
            }
            .color {
                flex-basis: 100px;
            }

        }
    }
    .all-products {

    }
    .about {
        .bg-blue {
            height: 0;
            background-image: url("img/bg-blue.png");
            background-size: 100% auto;
            background-repeat: no-repeat;
            padding-top: 34%;
        }
        .absolute > * {
            // border: 1px dashed red;
        }

        .services {
            // border: 1px solid blue;
            transform: translateY(5vw);
            .service-card {

            }
        }


    }




}

footer {
    max-width: $maxW;
    .subscribe {
        // border: 1px solid red;
        .subscribe-form {
            // border: 1px solid red;
            .input-field {
                // border: 1px dotted red;
                flex-grow: 1;
            }
            .submit-cont {
                // flex-basis: 200px;
                // border: 1px solid red;
                // align-items: center;
            }
        }
    }
}