$maxW: 1400px;

.container {
    border: 1px solid red;

}

header {
    max-width: $maxW;
    border: 1px solid red;
    min-height: 100px;
    .background {
        img {
            max-height: 650px;
        }
    }
    
    .tagline {
        border: 1px solid red;
        max-width: 450px;
        max-height: 250px;
    }



}


main {
    // for debugging remove after
    // min-height: 2000px;

    .logos {
        img {
            border: 1px solid red;
        }
    }

    .featured-item {
        .description-cont {
            .buttons {
                border: 1px solid red;
            }
        }

        .color {
            
        }
        .item  {
            .wrapper > * {
                // border: 1px solid red;
            }
            .number {
                flex-basis: 100px;
            }
            .picture {
                flex-grow: 5;
                img {
                    width: 800px;
                }
            }
            .color {
                flex-basis: 100px;
            }

        }


    }




}